.header{
    padding: 20px;
    background-color: #0B2545;
    margin: 0;
    top: 0;
    text-align: center;
    font-family: sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
#big_button{
    font-size: 3rem;
    padding: 1rem;
    border-radius: 12px;
    background-color: #0B2545;
    transition: background-color 0.25s;
}
#login, #logout{
    transition: font-size 0.75s;
}
#login:hover, #logout:hover{
    font-size: 1.75rem;
}
#big_button:hover{
    background-color: #134074;
}
#mini_links{
    display: flex;
    justify-content: space-around;
    background-color: #8DA9C4;
    border-bottom: 4px solid #0B2545
}
#mini_links a {
    margin: auto 5px;
    color: #0B2545;
    font-size: 2rem;
    transition: font-size 0.75s;
}
#mini_links a:hover{
    font-size: 2.25rem
}
.header a{
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 1rem 0;
    display: block;
}
body{
    margin: 0;
    background-color: gainsboro;
    font-family: sans-serif;
}
button{
    background-color: white;
    border: 3px solid #0B2545;
    border-radius: 8px;
    color: #0B2545;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}
textarea{
    resize: none;
}
header .links {
    margin: 0 1rem;
}
html, body {
    margin: 0;
    height: 100%;
}
.fancybutton{
    background-color: #0B2545;
    color: white;
}