{% load static %}

<!doctype html>
<html>
    {% block "styles"%}
        <head>
            <link rel="stylesheet" type="text/css" href="{% static "MetaApp/css/base.css" %}">
            <link rel="stylesheet" type="text/css" href="{% static "MetaApp/css/login.css" %}">
            <script src="{% static "MetaApp/javascript/annoyingmarkers.js"%}" defer></script>
            <title>Add Evidence</title>
        </head>
    {%endblock%}
    <body>
        {%block "main"%}
        <div id="main_content">
            <form method="POST">
                {%csrf_token%}
                <h1>Add Evidence</h1>
                <ul>
                    <li id="name">{{evidence_form.name.label_tag}}{{evidence_form.name}}</li>
                    <li id="datefound">{{evidence_form.datefound.label_tag}}{{evidence_form.datefound}}</li>
                    <li id="description">{{evidence_form.description.label_tag}}{{evidence_form.description}}</li>
                </ul>
                <div id="buttons">
                    <button type="submit" class="fancybutton" id="submit">Submit</button>
                </div>
            </form>
        </div>
        {%endblock%}
    </body>
</html>