{% load static %}

<!doctype html>
<html>
    {% block "styles"%}
        <head>
            <link rel="stylesheet" type="text/css" href="{% static "MetaApp/css/base.css" %}">
            <link rel="stylesheet" type="text/css" href="{% static "MetaApp/css/login.css" %}">
            <script src="{% static "MetaApp/javascript/annoyingmarkers.js"%}" defer></script>
            <title>Add Suspect</title>
        </head>
    {%endblock%}
    <body>
        {%block "main"%}
        <div id="main_content">
            <form method="POST">
                {%csrf_token%}
                <h1>Add Suspect</h1>
                <ul>
                    <li id="name">{{suspect_form.name.label_tag}}{{suspect_form.name}}</li>
                    <li id="description">{{suspect_form.description.label_tag}}{{suspect_form.description}}</li>
                    <li id="age">{{suspect_form.age.label_tag}}{{suspect_form.age}}</li>
                    <li id="guilty">{{suspect_form.guilty.label_tag}}{{suspect_form.guilty}}</li>
                </ul>
                <div id="buttons">
                    <button type="submit" id="submit">Submit</button>
                </div>
            </form>
        </div>
        {%endblock%}
    </body>
</html>