{% load static %}

<!doctype html>
<html>
    {% block "styles"%}
        <head>
            <link rel="stylesheet" type="text/css" href="{% static "MetaApp/base.css" %}">
            <link rel="stylesheet" type="text/css" href="{% static "MetaApp/login.css" %}">
            <script src="{% static "MetaApp/annoyingmarkers.js"%}" defer></script>
            <script src="{% static "MetaApp/create.js"%}" defer></script>
            <title>Create Account</title>
        </head>
    {%endblock%}
    <body>
        <div id="main_content">
            <form method="POST">
                <h1>Create Account</h1>
                {%csrf_token%}
                <ul>
                    <li id="realname">{{create_form.realname.label_tag}}{{create_form.realname}}</li>
                    <li id="username">{{create_form.username.label_tag}}{{create_form.username}}</li>
                    <p id="warning" style="display:none; color:red;">Passwords do not match</p>
                    <li id="password">{{create_form.password.label_tag}}{{create_form.password}}</li>
                    <li id="confirm">{{create_form.confirmpassword.label_tag}}{{create_form.confirmpassword}}</li>
                </ul>
                <button id="create_button">Create Account</button>
            </form>
        </div>
    </body>