{% load static %}

<!DOCTYPE html>
<html>
    {%block "styles"%}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static "MetaApp/base.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "MetaApp/index.css" %}">
        <title>MetaData Home</title>
    </head>
    {%endblock%}
    <body>
        {% block header %}
        <header>
            <script src="{% static "MetaApp/cookies.js"%}" defer></script>
            <script src="{% static "MetaApp/index.js"%}" defer></script>
            <a id="login" href="/MetaApp/login">Login</a> {%comment %} Change this to go to profile details page or something {%endcomment%}
            <a id="logout" style="display:none; cursor:pointer;">Logout</a>
            <a id="big_button" href="/MetaApp">Meta Data</a>
            <div id="mini_links">
                <a id="viewdata" href="/MetaApp/viewdata">Data View</a>
                <a id="submit_header" href="/MetaApp/submit_report">Submit Report</a>
            </div>
        </header>
        {%endblock%}
        <div id="main_content">
            {% block "main"%}
                <a href="submit_report">Submit Report</a>
            {% endblock %}
        </div>
    </body>
</html>