{% load static %}

<!DOCTYPE html>
<html>
    {%block "styles"%}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static "MetaApp/css/base.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "MetaApp/css/index.css" %}">
        <title>MetaData Home</title>
    </head>
    {%endblock%}
    <body>
        {% comment %} Fix this below :( {% endcomment %}
        {% block header %}
        <header class="header">
            <script src="{% static "MetaApp/javascript/cookies.js"%}" defer></script>
            <script src="{% static "MetaApp/javascript/index.js"%}" defer></script>
            <a id="big_button" class="links" href="/MetaApp">MetaData</a>
            <div id="logs" class="links">
                <a id="login" href="/MetaApp/login">Login</a> {%comment %} Change this to go to profile details page or something {%endcomment%}
                <a id="logout" style="display:block; cursor:pointer;">Logout</a>
            </div>
        </header>
        <div id="mini_links" class="header">
            <a id="viewdata" href="/MetaApp/viewdata">Data View</a>
            <a id="submit_header" href="/MetaApp/submit_report">Submit Report</a>
            <a id="viewcases" href="/MetaApp/viewreports">View Reports</a>
        </div>
        {%endblock%}
        <div id="main_content">
            {% block "main"%}
                <h1>Protecting a new frontier</h1>
                <a href="submit_report">Submit Report</a>
            {% endblock %}
        </div>
    </body>
</html>