{% load static %}

<!doctype html>
<html>
    {% block "styles"%}
        <head>
            <link rel="stylesheet" type="text/css" href="{% static "MetaApp/css/base.css" %}">
            <link rel="stylesheet" type="text/css" href="{% static "MetaApp/css/login.css" %}">
            <script src="{% static "MetaApp/javascript/annoyingmarkers.js"%}" defer></script>
            <title>Login</title>
        </head>
    {%endblock%}
    <body>
        {%block "main"%}
        <div id="main_content">
            <form method="POST">
                {%csrf_token%}
                <h1>Login</h1>
                <ul>
                    <li id="username">{{login_form.username.label_tag}}{{login_form.username}}</li>
                    <li id="password">{{login_form.password.label_tag}}{{login_form.password}}</li>
                </ul>
                <div id="buttons">
                    <button type="submit" id="login_button">Login</button>
                    <a id="create_acc" href="/MetaApp/createaccount">Create Account</a>
                </div>
            </form>
        </div>
        {%endblock%}
    </body>