<!doctype html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static "MetaApp/submitform.css" %}">
        <script src="{% static "MetaApp/submitform.js"%}" defer></script>
    </head>
    <body>
        <div id="main_content">
            <div id="main_form">
                <h1>Submit Form</h1>
                <form method="POST">
                    {% csrf_token %}
                    <ul>
                        <div id="central_content">
                            <li id="eventname">{{report_form.eventname.label_tag}}{{report_form.eventname}} </li>
                            <li id="description">{{report_form.description.label_tag}}{{report_form.description}}</li>
                            <li id="target">{{report_form.target.label_tag}}{{report_form.target}}</li>
                            <li id="target_other">{{report_form.targetother.label_tag}}{{report_form.targetother}}</li>
                            <li id="date">{{report_form.date.label_tag}}{{report_form.date}}</li>
                            <li id="mainlink">{{report_form.mainlink.label_tag}}{{report_form.mainlink}}</li>
                        </div>
                        <li id="techinvolved">{{report_form.techinvolved.label_tag}}{{report_form.techinvolved}}</li>
                    <button type="submit" id="submit">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>