{%extends "index.html"%}
{%load static%}

<html>
    {%block "styles"%}
        <link rel="stylesheet" type="text/css" href="{% static "MetaApp/css/base.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "MetaApp/css/viewreports.css" %}">
        <title>View Reports</title>
    {%endblock%}
    {%block "main"%}
        <div id="main">
            <body>
                <div id="reports">
                    {%for report in reportobjects%}
                    <div class="reportdetail">
                        <a href="/MetaApp/viewdetail/{{report.reportid}}"id="reportlink{{forloop.counter}}">
                            <article id="report{{forloop.counter}}">
                                <h3>{{report.eventname}}</h3>
                                <h3>{{report.date}}</h3>
                                <h3>Is Closed?: {{report.closed}}</h3>
                            </article>
                        </a>
                    </div>
                    {%endfor%}
                </div>
            </body>
        </div>
    {%endblock%}
    