{%extends "index.html"%}
{%load static%}

<html>
    {%block "styles"%}
        <link rel="stylesheet" type="text/css" href="{% static "MetaApp/css/viewdetail.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "MetaApp/css/base.css" %}">
        <script src="{% static "MetaApp/javascript/viewdetail.js" %}" defer></script>
        <title>View Detail</title>
    {%endblock%}
    {%block "main"%}
        <div id="main">
            <body>
                <div id="report_content">
                    <div id="addbar">
                        <h1>Modify Report</h1>
                        <ul id="modify">
                            <a href="/MetaApp/addsuspect/{{report.reportid}}"><li>Add Suspect</li></a>
                            <a href="/MetaApp/addevidence/{{report.reportid}}"><li>Add Evidence</li></a>
                            <a href="/MetaApp/addlocation/{{report.reportid}}"><li>Add Location</li></a>
                            <a href="/"><li>Edit Report</li></a>
                            <a href="/MetaApp/deletereport/{{report.reportid}}"><li>Delete Report</li></a>
                    </div>
                    <div id="report">
                        <h1>View Report</h1>
                        <h1 id="eventname">{{report.eventname}}</h1>
                        <h2>Date: {{report.date}}</h2>
                        <h2>Target: {{report.target}}</h2>
                        {% if report.targetother != ""%}
                            <h2>Other Target: {{report.targetother}}</h2>
                        {%endif%}
                        <h2>Tech Involved: {{report.readabletech}}</h2>
                        {% if report.cryptoamount > 0%}
                            <h2>Crypto Amount: ${{report.cryptoamount}}</h2>
                        {%endif%}
                        <h2>Description: {{report.description}}</h2>
                        <h2>Main Link: {{report.mainlink}}</h2>
                        <h2>Report Author: {{report.author}}</h2>
                        {% comment %} Restyle this button {% endcomment %}
                        <h2>Suspects: <span id="showsus">Show</span></h2>
                        <h2>Evidence: <span id="showev">Show</span></h2>
                        <h2>Locations: <span id="showloc">Show</span></h2>
                    </div>
                </div>
                <div style="display:none" id="suspectdetails" class="details">
                    {%for suspect in report.suspects.all%}
                    <div class="detailmini susmini">
                        <h1 style="display:none" class="susdata">{{suspect.susid}}</h1>
                        <a class="blanklink" id="suspectlink{{forloop.counter}}">
                                <h3>{{suspect.name}}</h3>
                                <h3>Age: {{suspect.age}}</h3>
                                <h3>Description: {{suspect.description}}</h3>
                        </a>
                    </div>
                    {%endfor%}
                </div>
                <div style="display:none" id="evidencedetails" class="details">
                    {%for evidence in report.evidence.all%}
                        <div class="detailmini"id="evidencelink{{forloop.counter}}">
                            <div id="evidence{{forloop.counter}}">
                                <h3>{{evidence.name}}</h3>
                                <h3>Date Found: {{evidence.datefound}}</h3>
                                <h3>Description: {{evidence.description}}</h3>
                                <a href="/MetaApp/deleteevidence/{{evidence.evid}}" class="add">Delete Evidence</a>
                            </div>
                        </div>
                    {%endfor%}
                </div>
                <div style="display:none" id="locationdetails" class="details">
                    {%for location in report.relevantlocations.all%}
                        <div class="detailmini" id="locationlink{{forloop.counter}}">
                            <div id="location{{forloop.counter}}">
                                <h3>{{location.name}}</h3>
                                <h3>Description: {{location.description}}</h3>
                                <a href="/MetaApp/deletelocation/{{location.locid}}" class="add">Delete Evidence</a>
                            </div>
                        </div>
                    {%endfor%}
                </div>
            </body>
        </div>
    {%endblock%}